<h1>Welcome <%= current_user.first_name %>!</h1>

  <h3>Projects</h3>
  <% current_user.owned_projects.each do |project| %>
    <div>
      <%= link_to project.name, projects_path(@project) %>
  </div>
<% end %>

<h3>Pledged Projects</h3>
<% current_user.rewards.each do |reward| %>
  <div>
    <%= link_to reward.project.name, projects_path(@project) %>
  </div>
<% end %>

<div>
  <p>Total pledges to date: $<%= current_user.pledges.sum(:pledge_amt) %></p>
</div>

