<% @project.comments.each do |comment| %>
  <div class="comment">
    <div class="poster">
      Posted by <em><%= comment.user_id %></em>.  Added on: <%= comment.created_at %>
    </div>
    <p class="comment">
      <%= comment.comment %>
    </p>
  </div>
<% end %>