<p class="project">
  <%= link_to project_path(project.id) do %>
     <%= project.name %>
  <% end %>
  <%= project.description %>
  <%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>