<h1>Projects</h1>

<div id="projects_info">
  <h4>Total Raised Money: <%#number_to_currency @project.all_funds %></h4>
</div>


<h4 class="categories">Categories</h4>
<%= render @categories %>

<div id="projects">
  <hr>
	<%= render @projects %>
</div>
