<h1>Projects</h1>
<h4>Categories</h4>
<%= render @categories %>

<div id="projects">
  <hr>
	<%= render @projects %>
</div>

<!-- Category.all.group_by{|c| c.name[0]}.each{|group,things| puts "===== #{group} ====="; things.each{|thing| puts "- #{thing.name}"} }; -->